* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	background-image: url("../images/Background.jpg");
}

h1, p {
	text-align: center;
}

h1 {
	font-family: 'Bungee Shade', cursive;
	font-size: 50px;
}

p {
	font-family: 'Bungee', cursive;
	font-size: 18px;
}

.wrapper {
	width: 100%;
	margin-top: 70px;
}

.container {
	max-width: 700px;
	margin: 0 auto;
}

.wrong {
	color: rgb(175, 32, 32);
}